# Notion API
NOTION_API_KEY=secret_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Notion Trips DB ID
NOTION_TRIPS_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# Notion Places DB ID 
NOTION_PLACES_DB_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_KAKAO_MAP_APP_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
